error snrub snrub snurb: Too many snrub
<br>  
<br> 
Recovering from snrub snrub snrub...

<h3>We are now installed as a system level service</h3>
<br> 
Also have the reigns on	a new place to test out	my <br>
** ****.
<script type="text/css" src="www/newstyle.css"></script>
<button	type="button" id="butt" onclick="alert('doot')">Touch</button>
<button id="but" onclick="var butt = document.getElementById('butt');butt.style.background = 'Blue';">boop</button>
<script	type="text/javascript">
function doot() {
    alert('DOOT');
}
function changeColor() {
    var butt = document.getElementById("butt");
    butt.style.background = 'Blue';
}

</script>
<div class="navbar"><button>RAWR
<br> 
<br> 
<br> 
<br> 
</button>
</div>